.sidebar.sidebar-pills.bg-light
  nav.sidebar-nav
    ul.nav
      li.nav-item
        a.nav-link(href=ajax ? 'main.html' : 'index.html')
          i.nav-icon.la.la-lg.la-dashboard
          |  Dashboard
      if !starter
        li.nav-title
          | Theme
        li.nav-item
          a.nav-link(href="colors.html")
            i.la.la-lg.la-bullseye
            |  Colors
        li.nav-item
          a.nav-link(href="typography.html")
            i.la.la-lg.la-pencil
            |  Typography
        li.nav-title
          | Components
        li.nav-item.nav-dropdown
          a.nav-link.nav-dropdown-toggle(href="#")
            i.la.la-lg.la-bank
            |  Base
          ul.nav-dropdown-items
            li.nav-item
              a.nav-link(href='base/breadcrumb.html')
                i.la.la-lg.la-puzzle
                |  Breadcrumb
            li.nav-item
              a.nav-link(href='base/cards.html')
                i.la.la-lg.la-puzzle
                |  Cards
            li.nav-item
              a.nav-link(href='base/carousel.html')
                i.la.la-lg.la-puzzle
                |  Carousel
            li.nav-item
              a.nav-link(href='base/collapse.html')
                i.la.la-lg.la-puzzle
                |  Collapse
            li.nav-item
              a.nav-link(href='base/forms.html')
                i.la.la-lg.la-puzzle
                |  Forms
            li.nav-item
              a.nav-link(href='base/jumbotron.html')
                i.la.la-lg.la-puzzle
                |  Jumbotron
            li.nav-item
              a.nav-link(href='base/list-group.html')
                i.la.la-lg.la-puzzle
                |  List group
            li.nav-item
              a.nav-link(href='base/navs.html')
                i.la.la-lg.la-puzzle
                |  Navs
            li.nav-item
              a.nav-link(href='base/pagination.html')
                i.la.la-lg.la-puzzle
                |  Pagination
            li.nav-item
              a.nav-link(href='base/popovers.html')
                i.la.la-lg.la-puzzle
                |  Popovers
            li.nav-item
              a.nav-link(href='base/progress.html')
                i.la.la-lg.la-puzzle
                |  Progress
            li.nav-item
              a.nav-link(href='base/scrollspy.html')
                i.la.la-lg.la-puzzle
                |  Scrollspy
            li.nav-item
              a.nav-link(href='base/switches.html')
                i.la.la-lg.la-puzzle
                |  Switches
            li.nav-item
              a.nav-link(href='base/tables.html')
                i.la.la-lg.la-puzzle
                |  Tables
            li.nav-item
              a.nav-link(href='base/tabs.html')
                i.la.la-lg.la-puzzle
                |  Tabs
            li.nav-item
              a.nav-link(href='base/tooltips.html')
                i.la.la-lg.la-puzzle
                |  Tooltips
        li.nav-item.nav-dropdown
          a.nav-link.nav-dropdown-toggle(href="#")
            i.la.la-lg.la-hand-pointer-o
            |  Buttons
          ul.nav-dropdown-items
            li.nav-item
              a.nav-link(href='buttons/buttons.html')
                i.la.la-lg.la-cursor
                |  Buttons
            li.nav-item
              a.nav-link(href='buttons/button-group.html')
                i.la.la-lg.la-cursor
                |  Buttons Group
            li.nav-item
              a.nav-link(href='buttons/dropdowns.html')
                i.la.la-lg.la-cursor
                |  Dropdowns
            li.nav-item
              a.nav-link(href='buttons/brand-buttons.html')
                i.la.la-lg.la-cursor
                |  Brand Buttons
        li.nav-item
          a.nav-link(href='charts.html')
            i.la.la-lg.la-pie-chart
            |  Charts
        li.nav-item.nav-dropdown
          a.nav-link.nav-dropdown-toggle(href='#')
            i.la.la-lg.la-star
            |  Icons
          ul.nav-dropdown-items
            li.nav-item
              a.nav-link(href='icons/line-awesome.html')
                |  Line Awesome
                span.badge.badge-primary NEW
            li.nav-item
              a.nav-link(href='icons/coreui-icons.html')
                |  CoreUI Icons
            li.nav-item
              a.nav-link(href='icons/flags.html')
                |  Flags
            li.nav-item
              a.nav-link(href='icons/font-awesome.html')
                |  Font Awesome
            li.nav-item
              a.nav-link(href='icons/simple-line-icons.html')
                |  Simple Line Icons
        li.nav-item.nav-dropdown
          a.nav-link.nav-dropdown-toggle(href='#')
            i.la.la-lg.la-bell
            |  Notifications
          ul.nav-dropdown-items
            li.nav-item
              a.nav-link(href='notifications/alerts.html')
                i.la.la-lg.la-bell
                |  Alerts
            li.nav-item
              a.nav-link(href='notifications/badge.html')
                i.la.la-lg.la-bell
                |  Badge
            li.nav-item
              a.nav-link(href='notifications/modals.html')
                i.la.la-lg.la-bell
                |  Modals
        li.nav-item
          a.nav-link(href='widgets.html')
            i.la.la-lg.la-calculator
            |  Widgets
        li.divider
        li.nav-title
          | Extras
        li.nav-item.nav-dropdown
          a.nav-link.nav-dropdown-toggle(href='#')
            i.la.la-lg.la-file
            |  Pages
          ul.nav-dropdown-items
            li.nav-item
              a.nav-link(href=ajax ? 'login.html' : 'login.html' target="_top")
                i.la.la-lg.la-star
                |  Login
            li.nav-item
              a.nav-link(href=ajax ? 'register.html' : 'register.html' target="_top")
                i.la.la-lg.la-star
                |  Register
            li.nav-item
              a.nav-link(href=ajax ? '404.html' : '404.html' target="_top")
                i.la.la-lg.la-star
                |  Error 404
            li.nav-item
              a.nav-link(href=ajax ? '500.html' : '500.html' target="_top")
                i.la.la-lg.la-star
                |  Error 500
