.c-sidebar.c-sidebar-dark.c-sidebar-fixed.c-sidebar-lg-show#sidebar
  nav.c-sidebar-nav
    ul.c-nav
      li.c-nav-item
        a.c-nav-link(href=ajax ? 'main.html' : 'index.html')
          i.c-nav-icon.icon-speedometer
          |  Dashboard
          span.c-badge.c-badge-primary NEW
      if !starter
        li.c-nav-title
          | Theme
        li.c-nav-item
          a.c-nav-link(href="colors.html")
            i.c-nav-icon.icon-drop
            |  Colors
        li.c-nav-item
          a.c-nav-link(href="typography.html")
            i.c-nav-icon.icon-pencil
            |  Typography
        li.c-nav-title
          | Components
        li.c-nav-item.c-nav-dropdown
          a.c-nav-link.c-nav-dropdown-toggle(href="#")
            i.c-nav-icon.icon-puzzle
            |  Base
          ul.c-nav-dropdown-items
            li.c-nav-item
              a.c-nav-link(href='base/breadcrumb.html')
                i.c-nav-icon.icon-puzzle
                |  Breadcrumb
            li.c-nav-item
              a.c-nav-link(href='base/cards.html')
                i.c-nav-icon.icon-puzzle
                |  Cards
            li.c-nav-item
              a.c-nav-link(href='base/carousel.html')
                i.c-nav-icon.icon-puzzle
                |  Carousel
            li.c-nav-item
              a.c-nav-link(href='base/collapse.html')
                i.c-nav-icon.icon-puzzle
                |  Collapse
            li.c-nav-item
              a.c-nav-link(href='base/forms.html')
                i.c-nav-icon.icon-puzzle
                |  Forms
            li.c-nav-item
              a.c-nav-link(href='base/jumbotron.html')
                i.c-nav-icon.icon-puzzle
                |  Jumbotron
            li.c-nav-item
              a.c-nav-link(href='base/list-group.html')
                i.c-nav-icon.icon-puzzle
                |  List group
            li.c-nav-item
              a.c-nav-link(href='base/navs.html')
                i.c-nav-icon.icon-puzzle
                |  Navs
            li.c-nav-item
              a.c-nav-link(href='base/pagination.html')
                i.c-nav-icon.icon-puzzle
                |  Pagination
            li.c-nav-item
              a.c-nav-link(href='base/popovers.html')
                i.c-nav-icon.icon-puzzle
                |  Popovers
            li.c-nav-item
              a.c-nav-link(href='base/progress.html')
                i.c-nav-icon.icon-puzzle
                |  Progress
            li.c-nav-item
              a.c-nav-link(href='base/scrollspy.html')
                i.c-nav-icon.icon-puzzle
                |  Scrollspy
            li.c-nav-item
              a.c-nav-link(href='base/switches.html')
                i.c-nav-icon.icon-puzzle
                |  Switches
            li.c-nav-item
              a.c-nav-link(href='base/tables.html')
                i.c-nav-icon.icon-puzzle
                |  Tables
            li.c-nav-item
              a.c-nav-link(href='base/tabs.html')
                i.c-nav-icon.icon-puzzle
                |  Tabs
            li.c-nav-item
              a.c-nav-link(href='base/tooltips.html')
                i.c-nav-icon.icon-puzzle
                |  Tooltips
        li.c-nav-item.c-nav-dropdown
          a.c-nav-link.c-nav-dropdown-toggle(href="#")
            i.c-nav-icon.icon-cursor
            |  Buttons
          ul.c-nav-dropdown-items
            li.c-nav-item
              a.c-nav-link(href='buttons/buttons.html')
                i.c-nav-icon.icon-cursor
                |  Buttons
            li.c-nav-item
              a.c-nav-link(href='buttons/button-group.html')
                i.c-nav-icon.icon-cursor
                |  Buttons Group
            li.c-nav-item
              a.c-nav-link(href='buttons/dropdowns.html')
                i.c-nav-icon.icon-cursor
                |  Dropdowns
            li.c-nav-item
              a.c-nav-link(href='buttons/brand-buttons.html')
                i.c-nav-icon.icon-cursor
                |  Brand Buttons
        li.c-nav-item
          a.c-nav-link(href='charts.html')
            i.c-nav-icon.icon-pie-chart
            |  Charts
        li.c-nav-item.c-nav-dropdown
          a.c-nav-link.c-nav-dropdown-toggle(href='#')
            i.c-nav-icon.icon-star
            |  Icons
          ul.c-nav-dropdown-items
            li.c-nav-item
              a.c-nav-link(href='icons/coreui-icons.html')
                i.c-nav-icon.icon-star
                |  CoreUI Icons
                span.c-badge.c-badge-success NEW
            li.c-nav-item
              a.c-nav-link(href='icons/flags.html')
                i.c-nav-icon.icon-star
                |  Flags
            li.c-nav-item
              a.c-nav-link(href='icons/font-awesome.html')
                i.c-nav-icon.icon-star
                |  Font Awesome
                span.c-badge.c-badge-secondary 4.7
            li.c-nav-item
              a.c-nav-link(href='icons/simple-line-icons.html')
                i.c-nav-icon.icon-star
                |  Simple Line Icons
        li.c-nav-item.c-nav-dropdown
          a.c-nav-link.c-nav-dropdown-toggle(href='#')
            i.c-nav-icon.icon-bell
            |  Notifications
          ul.c-nav-dropdown-items
            li.c-nav-item
              a.c-nav-link(href='notifications/alerts.html')
                i.c-nav-icon.icon-bell
                |  Alerts
            li.c-nav-item
              a.c-nav-link(href='notifications/badge.html')
                i.c-nav-icon.icon-bell
                |  Badge
            li.c-nav-item
              a.c-nav-link(href='notifications/modals.html')
                i.c-nav-icon.icon-bell
                |  Modals
        li.c-nav-item
          a.c-nav-link(href='widgets.html')
            i.c-nav-icon.icon-calculator
            |  Widgets
            span.c-badge.c-badge-primary NEW
        li.divider
        li.c-nav-title
          | Extras
        li.c-nav-item.c-nav-dropdown
          a.c-nav-link.c-nav-dropdown-toggle(href='#')
            i.c-nav-icon.icon-star
            |  Pages
          ul.c-nav-dropdown-items
            li.c-nav-item
              a.c-nav-link(href=ajax ? 'login.html' : 'login.html' target="_top")
                i.c-nav-icon.icon-star
                |  Login
            li.c-nav-item
              a.c-nav-link(href=ajax ? 'register.html' : 'register.html' target="_top")
                i.c-nav-icon.icon-star
                |  Register
            li.c-nav-item
              a.c-nav-link(href=ajax ? '404.html' : '404.html' target="_top")
                i.c-nav-icon.icon-star
                |  Error 404
            li.c-nav-item
              a.c-nav-link(href=ajax ? '500.html' : '500.html' target="_top")
                i.c-nav-icon.icon-star
                |  Error 500
        li.c-nav-item.c-mt-auto
          a.c-nav-link.c-nav-link-success(href="https://coreui.io" target="_top")
            i.c-nav-icon.icon-cloud-download
            |  Download CoreUI
        li.c-nav-item
          a.c-nav-link.c-nav-link-danger(href="https://coreui.io/pro/" target="_top")
            i.c-nav-icon.icon-layers
            |  Try CoreUI
            strong PRO
  button.c-sidebar-minimizer.c-class-toggler(type="button" data-target="['_parent','.c-header-brand']" data-class="['c-sidebar-minimized','c-header-brand-minimized']")
