.c-sidebar.c-sidebar-dark.c-sidebar-fixed.c-sidebar-lg-show#sidebar
  nav.c-sidebar-nav
    ul.c-nav
      li.c-nav-item
        a.c-nav-link(href=ajax ? 'main.html' : 'index.html')
          img.c-nav-icon(src="assets/icons/speedometer.svg" alt="CoreUI Icons Speedometer")
          |  Dashboard
          span.badge.badge-primary NEW
      if !starter
        li.c-nav-title
          | Theme
        li.c-nav-item
          a.c-nav-link(href="colors.html")
            img.c-nav-icon(src="assets/icons/drop1.svg" alt="CoreUI Icons Drop")
            |  Colors
        li.c-nav-item
          a.c-nav-link(href="typography.html")
            img.c-nav-icon(src="assets/icons/pencil.svg" alt="CoreUI Icons Pencil")
            |  Typography
        li.c-nav-title
          | Components
        li.c-nav-item.c-nav-dropdown
          a.c-nav-link.c-nav-dropdown-toggle(href="#")
            img.c-nav-icon(src="assets/icons/puzzle.svg" alt="CoreUI Icons Puzzle")
            |  Base
          ul.c-nav-dropdown-items
            li.c-nav-item
              a.c-nav-link(href='base/breadcrumb.html')
                span.c-nav-icon
                |  Breadcrumb
            li.c-nav-item
              a.c-nav-link(href='base/cards.html')
                span.c-nav-icon
                |  Cards
            li.c-nav-item
              a.c-nav-link(href='base/carousel.html')
                span.c-nav-icon
                |  Carousel
            li.c-nav-item
              a.c-nav-link(href='base/collapse.html')
                span.c-nav-icon
                |  Collapse
            li.c-nav-item
              a.c-nav-link(href='base/forms.html')
                span.c-nav-icon
                |  Forms
            li.c-nav-item
              a.c-nav-link(href='base/jumbotron.html')
                span.c-nav-icon
                |  Jumbotron
            li.c-nav-item
              a.c-nav-link(href='base/list-group.html')
                span.c-nav-icon
                |  List group
            li.c-nav-item
              a.c-nav-link(href='base/navs.html')
                span.c-nav-icon
                |  Navs
            li.c-nav-item
              a.c-nav-link(href='base/pagination.html')
                span.c-nav-icon
                |  Pagination
            li.c-nav-item
              a.c-nav-link(href='base/popovers.html')
                span.c-nav-icon
                |  Popovers
            li.c-nav-item
              a.c-nav-link(href='base/progress.html')
                span.c-nav-icon
                |  Progress
            li.c-nav-item
              a.c-nav-link(href='base/scrollspy.html')
                span.c-nav-icon
                |  Scrollspy
            li.c-nav-item
              a.c-nav-link(href='base/switches.html')
                span.c-nav-icon
                |  Switches
            li.c-nav-item
              a.c-nav-link(href='base/tables.html')
                span.c-nav-icon
                |  Tables
            li.c-nav-item
              a.c-nav-link(href='base/tabs.html')
                span.c-nav-icon
                |  Tabs
            li.c-nav-item
              a.c-nav-link(href='base/tooltips.html')
                span.c-nav-icon
                |  Tooltips
        li.c-nav-item.c-nav-dropdown
          a.c-nav-link.c-nav-dropdown-toggle(href="#")
            img.c-nav-icon(src="assets/icons/cursor.svg" alt="CoreUI Icons Cursor")
            |  Buttons
          ul.c-nav-dropdown-items
            li.c-nav-item
              a.c-nav-link(href='buttons/buttons.html')
                span.c-nav-icon
                |  Buttons
            li.c-nav-item
              a.c-nav-link(href='buttons/button-group.html')
                span.c-nav-icon
                |  Buttons Group
            li.c-nav-item
              a.c-nav-link(href='buttons/dropdowns.html')
                span.c-nav-icon
                |  Dropdowns
            li.c-nav-item
              a.c-nav-link(href='buttons/brand-buttons.html')
                span.c-nav-icon
                |  Brand Buttons
        li.c-nav-item
          a.c-nav-link(href='charts.html')
            img.c-nav-icon(src="assets/icons/chart-pie.svg" alt="CoreUI Icons Pie Chart")
            |  Charts
        li.c-nav-item.c-nav-dropdown
          a.c-nav-link.c-nav-dropdown-toggle(href='#')
            img.c-nav-icon(src="assets/icons/star.svg" alt="CoreUI Icons Star")
            |  Icons
          ul.c-nav-dropdown-items
            li.c-nav-item
              a.c-nav-link(href='icons/coreui-icons.html')
                span.c-nav-icon
                |  CoreUI Icons
                span.badge.badge-success NEW
            li.c-nav-item
              a.c-nav-link(href='icons/flags.html')
                span.c-nav-icon
                |  Flags
        li.c-nav-item.c-nav-dropdown
          a.c-nav-link.c-nav-dropdown-toggle(href='#')
            img.c-nav-icon(src="assets/icons/bell.svg" alt="CoreUI Icons Bell")
            |  Notifications
          ul.c-nav-dropdown-items
            li.c-nav-item
              a.c-nav-link(href='notifications/alerts.html')
                span.c-nav-icon
                |  Alerts
            li.c-nav-item
              a.c-nav-link(href='notifications/badge.html')
                span.c-nav-icon
                |  Badge
            li.c-nav-item
              a.c-nav-link(href='notifications/modals.html')
                span.c-nav-icon
                |  Modals
        li.c-nav-item
          a.c-nav-link(href='widgets.html')
            img.c-nav-icon(src="assets/icons/calculator.svg" alt="CoreUI Icons Calculator")
            |  Widgets
            span.badge.badge-primary NEW
        li.divider
        li.c-nav-title
          | Extras
        li.c-nav-item.c-nav-dropdown
          a.c-nav-link.c-nav-dropdown-toggle(href='#')
            img.c-nav-icon(src="assets/icons/star.svg" alt="CoreUI Icons Star")
            |  Pages
          ul.c-nav-dropdown-items
            li.c-nav-item
              a.c-nav-link(href=ajax ? 'login.html' : 'login.html' target="_top")
                img.c-nav-icon(src="assets/icons/account-logout.svg" alt="CoreUI Icons Account Logout")
                |  Login
            li.c-nav-item
              a.c-nav-link(href=ajax ? 'register.html' : 'register.html' target="_top")
                img.c-nav-icon(src="assets/icons/account-logout.svg" alt="CoreUI Icons Account Logout")
                |  Register
            li.c-nav-item
              a.c-nav-link(href=ajax ? '404.html' : '404.html' target="_top")
                img.c-nav-icon(src="assets/icons/bug.svg" alt="CoreUI Icons Bug")
                |  Error 404
            li.c-nav-item
              a.c-nav-link(href=ajax ? '500.html' : '500.html' target="_top")
                img.c-nav-icon(src="assets/icons/bug.svg" alt="CoreUI Icons Bug")
                |  Error 500
        li.c-nav-item.mt-auto
          a.c-nav-link.c-nav-link-success(href="https://coreui.io" target="_top")
            img.c-nav-icon(src="assets/icons/cloud-download.svg" alt="CoreUI Icons Cloud Download")
            |  Download CoreUI
        li.c-nav-item
          a.c-nav-link.c-nav-link-danger(href="https://coreui.io/pro/" target="_top")
            img.c-nav-icon(src="assets/icons/layers.svg" alt="CoreUI Icons Layers")
            |  Try CoreUI
            strong PRO
  button.c-sidebar-minimizer.c-class-toggler(type="button" data-target="['_parent','.c-header-brand']" data-class="['c-sidebar-minimized','c-header-brand-minimized']")
